# SQL DB connection example

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text

In [38]:
#DB connection settings:
db_config = {'user': 'name',         # Username
                 'pwd': '123', # passowrd
                 'host': 'dwh-gp-master01',       # server address
                 'port': 7433,              # port
                 'db': 'ckdata'}             # DB name

    # connection string: 
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                         db_config['pwd'],
                                                         db_config['host'],
                                                         db_config['port'],
                                                         db_config['db'])
    # Connect:
engine = create_engine(connection_string)

In [39]:
with engine.begin() as conn:
    #SQL query & execution:
    query = text('''select * 
    from GRP_EM.FCT_STOCK_INVENTORY 
    limit 10''')
    df = pd.read_sql_query(query, conn)

In [42]:
df.head(2)

,dataflow_dttm,stock_inventory_start_dt,stock_inventory_end_dt,stock_point_rk,material_rk,stock_fact_uom_amt,stock_fact_rub_amt,stock_block_uom_amt,stock_block_rub_amt,stock_uom_amt,stock_rub_amt,stock_free_uom_amt,stock_free_rub_amt,stock_track_uom_amt,stock_track_rub_amt
0,2023-02-03 07:32:41,2023-01-31,2023-02-01,61a3c142003444ad35ecb8424a0f41f1,e977a9ab14690a63d432e5b2dc407890,75.0,1950.00,0.0,0.0,75.0,1950.00,75.0,1950.00,0.0,0.0
1,2023-02-03 07:32:41,2023-01-31,2023-02-01,f23dec0eefbcf8516e7ee47ce3527e52,82c63bc92984e578d31ff1d1b286b925,43.0,350.88,0.0,0.0,43.0,350.88,43.0,350.88,0.0,0.0